.about {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    transition: all 0.25s ease 0s;
    animation: fade-in .4s;

    .section {
        margin-bottom: 2rem;

        .title {
            color: var(--fg-color);
            font-size: 2rem;
            line-height: 2rem;
            margin: 0 0 1rem;
        }

        h1 {
            color: var(--fg-color);
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 500;
        }

        p {
            color: var(--font-color);
            font-size: 1.2rem;
        }
    }
}