.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    .textButton {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--font-color);
    }
}