::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #444444;
    transition: .125s;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ededed;
}

::-webkit-scrollbar-thumb:active {
    background: #DA0037;
}

::-webkit-scrollbar-corner {
    background: #444444;
}