@use "./styles/variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import "./styles/Navbar.scss";
@import "./styles/Test.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* App */
body {
    font-family: 'Roboto-mono', monospace;
    // background: #3c4756;
    // color: #f44c7f;
    background: #171717;
    color: #ededed;
}

.App {
    display: flex;
    justify-content: space-around;
}

.container {
    align-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    padding: 2rem;
}
