@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;1,200;1,300&display=swap');

//* Variables 
/* resolutions */
$small: 640px;
$medium: 768px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App */
body {
    font-family: 'Roboto-mono', monospace;
    background: #3c4756;
    color: #f44c7f;
}

.App {
    display: flex;
    justify-content: space-around;
}

.container {
    align-content: center;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    padding: 2rem;
}

/* Navbar */
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;

    @media screen and (min-width: $small) {
        width: 100%;
    }
}

.flex {
    display: flex;
}

.logo-text {
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

/* middle */
.middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.type-box {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    user-select: none;
    height: 156px;

    .word {
        position: relative;
        margin: 0.25rem;
        font-size: 1.5rem;
        line-height: 1.5rem;

        &.wrong {
            color: red;
        }
    }

    .extra {
        opacity: 0.6;
    }

    #caret {
        transition: left 0.1s ease;
        margin-left: -7.29165px;
		position: absolute;
        color: #fff;

        &.blink {
            animation: blink 1.5s infinite 1s;
        }
    }
    
    @keyframes blink {
        0%,
        100%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
}